.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  position: relative;
  z-index: 1;

  &-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;

    &-image {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid white;
    }

    &-name {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }

  nav {
    flex: 1;

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1.5rem;
    }
  }
}

@media (max-width: 600px) {
  .header-logo-name {
    display: none;
  }

  .header {
    padding: 0 1rem;
  }
}
