.editor-svg {
    position: relative;
    background-color: #999;

    svg {
        border: 1px solid red;
        z-index: 1;
        position: relative;
    }

    .test-editor-svg {
        opacity: 0.6;
        position: absolute;
        z-index: 0;

        svg {
            path {
                fill: red;
            }
        }
    }
}