.filling-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-control {
    gap: 10px;

    label {
      white-space: nowrap;
      display: block;
      margin-bottom: 5px;
    }
  }
}
