$color-primary: #004cff;
$color-primary-trans: rgba(#004cff, 0.7);
$color-primary-light: rgb(255, 241, 249);
$color-primary-dark: #0043e0;

$light: #e9f0fb;
$grey: #313131;
$grey-secondary: #535252;
$grey-light: #e0e6ef;
$grey-light-secondary: #d7dce5;
