@import "../../../../styles/vars.scss";

.editor-paths-global {
  border-left: 2px solid $grey-light;
  padding: 0.5rem;
  margin: 1rem 0;

  &-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}
