@import "../../../../../../styles/vars.scss";

.svg-dropzone {
  width: 100%;
  min-height: 100px;
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1rem;
  border: 3px dashed $color-primary;
  cursor: pointer;

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid $color-primary;
  }

  span {
    white-space: nowrap;
  }

  * {
    cursor: pointer;
  }

  &:hover {
    background-color: $grey-light;
  }
}
