.editor-cursor {
  position: absolute;
  top: 0;
  left: 15rem;
  background-color: #ffffffcc;
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  padding: 5px;
  min-width: 70px;
  z-index: 1;

  &-position {
    &-name {
      font-weight: 700;
    }

    &-value {
      font-variant-numeric: tabular-nums;
    }
  }
}
